.advantages {
  margin-bottom: vw(300);
}
.container__advantages {
  max-width: 1160px;
  margin: auto;
}
.advantages__title {
  margin-bottom: vw(100);
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-4 {
  display: flex;
  max-width: 550px;
  margin-bottom: vw(100);
}
.activity-card {
  display: flex;
}

.holder {
  display: inline;
  margin-right: 10px;
}
.holder img {
  max-height: 64px;
  max-width: 64px;
  object-fit: cover;
}
.activity__heading {
}
